{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}
<body>
    {% include 'navbar.html' %}
  
    <br><br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Register</h2>
          <h3 class="section-subheading text-muted"></h3>
        </div> 
      </div>
      <div class="row">
        <div class="col-lg-12">
          <!-- registration form -->
          <form method="post" action="/registration_form_submission/">
            {% csrf_token %}
            <label>First Name</label><br>
            <input type="text" name="first_name" placeholder="First Name" class="form-control" required><br>
            <label>Last Name</label><br>
            <input type="text" name="last_name" placeholder="Last Name" class="form-control" required><br>
            <label>Username</label><br>
            <input type="text" name="username" placeholder="Username" class="form-control" required><br>
            <label>Email</label><br>
            <input type="email" name="email" placeholder="Email" class="form-control" required><br>
            <label>Password</label><br>
            <input type="password" name="password1" placeholder="Password" class="form-control" required><br>
            <label>Confirm Password</label><br>
            <input type="password" name="password2" placeholder="Confirm Password" class="form-control" required><br>
            <button class="btn btn-primary" style="background-color: #212529; color: white" type="submit">Register</button>
        </form>  
          <br>
          <p>Already have an account? <a href="/login">Login</a> </p>
        </div>
      </div>
    </div>

</body>
{% endblock %}
