
{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<body>
    {% include 'navbar_auth.html' %}
    <br> <br><br><br><br><br><br>
    
    
    <div class="container">
        {% if messages %} <!-- checks whether there is messages to be displayed -->
            {% for message in messages %}
                <div class="alert alert-secondary alert-dismissable" role="alert">
                    <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button>
                    {{ message}}
                </div>
            {% endfor %}
        {% endif %}
        {% for notify in notify %}
                {% if now == notify.notify_date %}
                    <div class="alert alert-secondary alert-dismissable" role="alert">
                        <button class="close" data-dismiss="alert">
                            <small><sup>x</sup></small>
                        </button>
            
                        Notification: "{{notify.item}}" is due today!!!
                    </div>
                {% endif %}
        {% endfor %}
        <h2 style="text-align: center;">Welcome to Notefy, {{user.username}}</h2>
        <p>
            Notefy is a web application where users can take notes, upload pictures and videos. 
            Our purpose is to give people the time and freedom to focus on what matters by helping them to live more organized lives. 
            Notefy is a web application where people can jot down their ideas and share them. It can not only help users save their ideas, 
            but can also act as a personal diary where they can write down whatever they wish to. Users can also add to-do list and also 
            set dates for the list of task. <br><br><br>

            <a href="/addNote">Start taking notes</a> <br><br>   OR  <br><br>
            <a href="/tolist">Make a list of tasks</a>

        </p>
    </div>
    
    
    
</body>
{% endblock %}